################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/Library
/Unity/Logs
/Unity/UserSettings
/Unity/CuteSandwich.sln
/Unity/obj/Debug
/Unity/Temp
/Unity/.vsconfig
/Unity/Unity.sln
/Unity/Assembly-CSharp.Player.csproj
/Unity/Assembly-CSharp.csproj
/Unity/.vs/Unity/v16
